html, body {
    overflow: hidden; /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


/* 일요일 날짜 빨간색 */
.fc-day-sun a {
    color: red;
    text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: blue;
    text-decoration: none;
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 기본적으로 모달 창을 숨깁니다. */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경에 어둡게 표시합니다. */
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 모달을 화면 중앙에 배치합니다. */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#addBtn{
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}
