<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script defer src="/js/adminPage.js"></script>
    <link  rel="stylesheet" href="/css/adminPage.css">
</head>
<body>


<div id="admin_pageMain_div">
    <h2 id="userName"></h2>
    <div><button id="addUserBtn">회원추가</button></div>
    <div><button id="scheduleBtn">일정 추가/삭제</button></div>
    <div><button id="category">카테고리</button></div>
    <div><button id="position">직급</button></div>
    <div><button id="userInfoBtn">회원정보</button></div>
</div>
</body>
</html>