<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalendarView</title>
    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js'></script>
    <link href="/css/calendarView.css?v=2" rel="stylesheet">
    <script src="/js/calendarView.js" defer></script>
    <link rel="icon" href="/images/J-11.png" type="image/x-icon">
</head>
<body>

<div class="slide-menu">
    <section class="user-interface-section">
        <div class="user-wrap">
            <div class="user-img"></div>
            <div class="user-name-div">
                <p class="user-name" id="userName"></p>
                <p class="user-id" id="userId"></p>
            </div>
        </div>
        <div class="slide-close-button"></div>
    </section>
    <section class="select-date-section">
        <div class="time month">
            <div class="img-container" onclick="changeToMonth()"></div>
            <div class="text-container">월간</div>
        </div>
        <div class="time week">
            <div class="img-container" onclick="changeToWeek()"></div>
            <div class="text-container">주간</div>
        </div>
        <div class="time day">
            <div class="img-container" id="changeToDay" onclick="changeToDay()"></div>
            <div class="text-container"><label for="changeToDay">일간</label></div>
        </div>
    </section>
    <section class="log-out-section">
        <div class="log-out-button">
            <div class="log-out-inner left">
                <div class="logout-icon"></div>
                <div class="logout-text" id="logout">로그아웃</div>
            </div>
            <div class="log-out-inner right" id="logOutId">
            </div>
        </div>
    </section>

</div>

<div id="calendar-container">
    <div id="calendar"></div>
</div>

<div id="myModal" class="modal main1">
    <div class="modal-content">
        <span id="close" class="close">&times;</span>
        <div class="main-table">
            <h2>일정 추가</h2>
            <table>
                <tr>
                    <td class="calendar-category">
                        <div class="calendar-category-container">
                            <div class="calender-category-container-box">
                                <img src="/images/category.png" alt="카테고리아이콘 이미지"/>
                                <label for="category" class="calendar-category-title">카테고리</label>
                            </div>
                            <select name="category" id="category" class="calendar-category-select"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-color">
                        <div class="calendar-color-container">
                            <div class="calendar-color-box1">
                                <img src="/images/color.png" alt="색상 이미지"/>
                                <label class="calendar-color-title">색상</label>
                            </div>
                            <div class="calendar-color-box2">
                                <input type="radio" id="color1" name="color" value="#162855" checked />
                                <label for="color1" style="
                        background-color: #162855;
                        border-radius: 50%;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin: 12px 12px 0 6px;
                      " class="calendar-color-1"></label>
                                <input type="radio" id="color2" name="color" value="#6a5acd"/>
                                <label for="color2" style="
                        background-color: #6a5acd;
                        border-radius: 50%;display: inline-block; width: 20px; height: 20px; margin: 12px 0 0 6px; "></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-name">
                        <div class="calendar-name-container">
                            <div class="calendar-name-container-box">
                                <img src="/images/memo.png" alt="메모아이콘 이미지"/><label for="title" class="calender-name-title">제목</label>
                            </div>
                            <input type="text" placeholder="제목을 입력하세요." id="title" name="title" class="calender-name-text"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-all-day">
                        <div class="calendar-all-day-container">
                            <div class="calendar-all-day-container-box">
                                <img src="/images/clock.png" alt="시간아이콘 이미지"/>
                                <label for="allDay" class="calendar-all-day-text">하루일정
                                </label>
                            </div>
                            <input type="checkbox" role="switch" id="allDay" class="calender-all-day-checkbox"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-repetition">
                        <div class="calendar-repetition-container">
                            <div class="calendar-repetition-container-box">
                                <img src="/images/rotation.png" alt="장소 아이콘 이미지"/><label
                                    for="repetition"
                                    class="calendar-repetition-title">반복</label>
                            </div>
                            <input type="checkbox" id="repetition" class="calendar-repetition-title"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-location">
                        <div class="calendar-location-container">
                            <div class="calendar-location-container-box">
                                <img src="/images/location.png" alt="장소아이콘 이미지"/>
                                <label for="location" class="calender-location-title">장소</label>
                            </div>
                            <input type="text" placeholder="장소를 입력하세요." id="location" class="calender-location-text"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-participant">
                        <div class="calendar-participant-container">
                            <div class="calendar-participant-container-box1">
                                <img src="/images/human.png" alt="아이콘 이미지"/>
                                <label for="participant" class="calendar-participant-title">참석자</label>
                            </div>
                            <!--box1/-->
                            <div class="calendar-participant-container-box2">
                                <select name="participant" id="participant" class="calendar-participant-select">
                                    <option selected>참석자 선택해주세요.</option>
                                </select>
                                <button id="addParticipant" onclick="addParticipants()" class="calendar-participant-button">
                                    추가
                                </button>
                            </div>
                            <!--box2/-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table id="participantTable">
                            <!-- 여기에 선택된 참석자들이 추가됩니다. -->
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-start">
                        <div class="calendar-start-container">
                            <div class="calendar-start-container-box">
                                <img src="/images/clock.png" alt=""/>
                                <label for="start" class="calendar-start-title">시작시간</label>
                            </div>
                            <input type="datetime-local" id="start" name="start" class="calendar-start-date"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-end">
                        <div class="calendar-end-container">
                            <div class="calendar-end-container-box">
                                <img src="/images/clock.png" alt=""/>
                                <label for="end" class="calendar-end-title">종료시간</label>
                            </div>
                            <input type="datetime-local" id="end" name="end" class="calendar-end-date"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-memo">
                        <div class="calendar-memo-container">
                            <div class="calendar-memo-container-box">
                                <img src="/images/memo.png" alt=""/>
                                <label for="description" class="calendar-memo-title"
                                >메모
                                </label>
                            </div>
                            <textarea
                                    style="height: 50px"
                                    placeholder="내용 입력하세요."
                                    id="description"
                                    class="calender-memo-text"
                            ></textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <!--            <div>-->
            <!--                <button onclick="changeToDay()" type="button">월</button>-->
            <!--                <button onclick="changeToWeek()"  type="button">주</button>-->
            <!--                <button onclick="changeToMonth()"type="button">일</button>-->
            <!--            </div>-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">취소
                </button>
                <button type="button" class="btn btn-primary" id="saveChanges">
                    추가
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 새로운 모달 -->
<div id="eventInfoModal" class="modal" style="display: none">
    <div class="modal-content">
        <span id="closeEventInfoModal" class="close">&times;</span>
        <div>
            <!-- 내용 추가 -->
            <h2 id="scheduleInName"></h2>
            <table id="scheduleInfoTable">
                <thead>
                <tr><th colspan="2" >일정 정보</th></tr>
                <tr>
                    <th>카테고리</th>
                    <td id="upCa"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td id="upTit"></td>
                </tr>
                <tr>
                    <th>하루일정</th>
                    <td id="upDay"></td>
                </tr>
                <tr>
                    <th>장소</th>
                    <td id="upLoca"></td>
                </tr>
                <tr>
                    <th>참석자</th>
                    <td id="upPar"></td>
                </tr>
                <tr>
                    <th>시작시간</th>
                    <td id="upStart"></td>
                </tr>
                <tr>
                    <th>종료시간</th>
                    <td id="upEnd"></td>
                </tr>
                <tr>
                    <th>메모</th>
                    <td id="upMemo"></td>
                </tr>
                </thead>
            </table>
        </div>
        <div id="updateSchInfo" class="modal-footer ">

        </div>
    </div>
</div>

<div id="updateModal" class="modal main3">
    <div class="modal-content">
        <span id="updateClose" class="close">&times;</span>
        <div class="main-table">
            <h2>일정 수정</h2>
            <table>
                <tr>
                    <td class="calendar-category">
                        <div class="calendar-category-container">
                            <div class="calender-category-container-box">
                                <img src="/images/category.png" alt="/">
                                <label for="category" class="calendar-category-title">카테고리</label>
                            </div>

                            <select name="category" id="updateCategory" class="calendar-category-select">

                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-color">
                        <div class="calendar-color-container">
                            <div class="calendar-color-box1">
                                <img src="/images/color.png" alt="색상아이콘 이미지"/>
                                <label class="calendar-color-title">색상</label>
                            </div>
                            <div class="calendar-color-box2">
                                <input type="radio" id="updateColor1" name="color" value="#162855" checked/>
                                <label for="updateColor1" style="background-color: #162855;border-radius: 50%;display: inline-block;width: 20px; height: 20px;margin: 12px 12px 0 6px;" class="calendar-color-1"></label>

                                <input type="radio" id="updateColor2" name="color" value="#6a5acd"/>
                                <label for="updateColor2" style=" background-color: #6a5acd;border-radius: 50%; display: inline-block; width: 20px;height: 20px;margin: 12px 0 0 6px;"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-name">
                        <div class="calendar-name-container">
                            <div class="calendar-name-container-box">
                                <img src="/images/memo.png" alt="메모아이콘 이미지"/><label for="updateTitle" class="calender-name-title">제목</label>
                            </div>
                            <input type="text" placeholder="제목을 입력하세요." id="updateTitle" name="title" class="calender-name-text"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-all-day">
                        <div class="calendar-all-day-container">
                            <div class="calendar-all-day-container-box">
                                <img src="/images/clock.png" alt="시간아이콘 이미지"/><label for="updateAllDay" class="calendar-all-day-text">하루일정</label>
                            </div>
                            <input type="checkbox" role="switch" id="updateAllDay" class="calender-all-day-checkbox"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-location">
                        <div class="calendar-location-container">
                            <div class="calendar-location-container-box">
                                <img src="/images/location.png" alt="장소아이콘 이미지"/><label for="updateLocation" class="calender-location-title">장소</label>
                            </div>
                            <input type="text" placeholder="장소를 입력하세요." id="updateLocation" class="calender-location-text"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-participant">
                        <div class="calendar-participant-container">
                            <div class="calendar-participant-container-box1">
                                <img src="/images/human.png" alt="아이콘 이미지"/><label for="updateParticipant" class="calendar-participant-title">참석자</label>
                            </div>
                            <!--box1/-->
                            <div class="calendar-participant-container-box2">
                                <select name="participant" id="updateParticipant" class="calendar-participant-select">
                                    <option selected>참석자 선택해주세요.</option>
                                </select>
                                <button id="updateAddParticipant" onclick="updateParticipant()" class="calendar-participant-button">
                                    추가
                                </button>
                            </div>
                            <!--box2/-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table id="updateParticipantTable">
                            <!-- 여기에 선택된 참석자들이 추가됩니다. -->
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-start">
                        <div class="calendar-start-container">
                            <div class="calendar-start-container-box">
                                <img src="/images/clock.png" alt=""/><label for="updateStart" class="calendar-start-title">시작시간</label>
                            </div>
                            <input type="datetime-local" id="updateStart" name="start" class="calendar-start-date"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-end">
                        <div class="calendar-end-container">
                            <div class="calendar-end-container-box">
                                <img src="/images/clock.png" alt=""/><label for="updateEnd" class="calendar-end-title">종료시간</label>
                            </div>
                            <input type="datetime-local" id="updateEnd" name="end" class="calendar-end-date"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="calendar-memo">
                        <div class="calendar-memo-container">
                            <div class="calendar-memo-container-box">
                                <img src="/images/memo.png" alt=""/>
                                <label for="updatedDescription" class="calendar-memo-title">메모
                                </label>
                            </div>
                            <textarea style="height: 50px" placeholder="내용 입력하세요." id="updatedDescription" class="calender-memo-text"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="updateModal-footer" class= "modal-footer">
            </div>
        </div>
    </div>
</div>
<div id="adminBtn">

</div>

<footer>
    <div class="footer-text">ⓒ 2024 MK Gloria All Rights Reserved</div>
</footer>

</body>
</html>
