<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="icon" href="/images/J-11.png" type="image/x-icon">
</head>
<body>
<main>
    <section class="mk-intro">
    <h1>
        <span class="login-title-color">M</span>y
        <span class="login-title-color">K</span>alendar
    </h1>
    <!--title/-->
    <div class="title-logo">
        <img src="/images/jworksmedia-logo.png" alt="로고 이미지" />
    </div>
    <!--logo/-->
    </section>
    <section class="mk-login">
        <div class="login-title">
            <h1>
                <span class="login-title-color">M</span>y
                <span class="login-title-color">K</span>alendar
            </h1>
            <!--title/-->
        </div>
        <form action="api/auth/login" method="post" class="login-container">

            <input type="text" id="userid" name="username" placeholder="아이디를 입력해주세요" class="login-id" required>

            <input type="password" id="userPW" name="password" placeholder="비밀번호를 입력해주세요." class="login-pw" required>

            <button type="submit" class="login-button">로그인</button>
        </form>
        <!--아이디/비밀번호/버튼박스/-->
        <div class="title-logo">
            <img src="/images/jworksmedia-logo.png" alt=""/>
        </div>
    </section>
    <footer>
        <div class="footer-text">ⓒ 2024 MK Gloria All Rights Reserved</div>
    </footer>
</main>
</body>
</html>