<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer src="/js/login.js"></script>
</head>
<body>
<!--<form  id="loginForm" onsubmit="submitForm(event)">-->
<form action="api/auth/login" method="post">
    <h3>로그인</h3>
    <div>
        <div>
            <label for="userid">아이디</label>
            <input type="text" id="userid" name="username" placeholder="아이디를 입력해주세요">
        </div>
        <div>
            <label for="userPW">비밀번호</label>
            <input type="password" id="userPW" name="password" placeholder="*******">
        </div>
    </div>
    <button type="submit">로그인</button>
</form>
</body>
</html>