<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script defer src="/js/signUp.js"></script>
    <link  rel="stylesheet" href="/css/signUp.css">
    <link rel="icon" href="/images/J-11.png" type="image/x-icon">
</head>
<body>

<!--이하 삭제해야하는 파트/-->
<main>
    <div>
        <table id="SingUpForm">
            <tr>
                <td class="signup-title"><h2>회원가입</h2></td>
            </tr>
            <tr>
                <td class="signup-id">
                    <label for="userId" class="signup-id-title">아이디</label> <button type="button" id="checkIdBtn">중복확인</button>
                    <br />
                    <input type="text" placeholder="아이디을 입력하세요." id="userId" name="userid" class="signup-id-text"/>

                </td>
            </tr>
            <tr>
                <td class="signup-name">
                    <label for="userName" class="signup-name-title">이름</label>
                    <br />
                    <input type="text" placeholder="이름을 입력하세요." id="userName" name="name" class="signup-name-text"/>
                </td>
            </tr>
            <tr>
                <td class="signup-birth">
                    <label for="userBirthday" class="signup-birth-title">생년 월 일</label>
                    <br />
                    <input type="date" id="userBirthday" class="signup-birthday" max="9999-12-31" />
                </td>
            </tr>
            <tr>
                <td class="signup-password">
                    <label for="userPW" class="signup-password-title">비밀번호</label>
                    <br />
                    <input type="password" placeholder="***********" id="userPW" name="password" class="signup-password-text"/>
                </td>
            </tr>
            <tr>
                <td class="signup-checkpw">
                    <label for="userCheckPW" class="signup-checkpw-title">비밀번호 확인</label>
                    <br />
                    <input type="password" placeholder="***********" id="userCheckPW" class="signup-checkpw-text"/>
                </td>
            </tr>
            <tr>
                <td class="signup-userrole">
                    <div class="signup-userrole-container">
                        <label for="userRole" class="signup-userrole-title">권한</label>

                        <select id="userRole" name="userRole" class="signup-userrole-select">
                            <option value="1">관리자</option>
                            <option value="2">매니저</option>
                            <option value="3" selected>유저</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="signup-userposition">
                    <div class="signup-userposition-container">
                        <label for="userPosition" class="signup-userposition-title">직급</label>
                        <select id="userPosition" name="userPosition" class="signup-userposition-select">

                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="signup-button">
                    <div class="container-signup-button">
                        <button type="button" onclick="resetForm()">취소</button>
                        <button type="button" onclick="submitData()">회원가입</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>

</html>